USE [ETicaretCoreDB1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adresler]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdresBasligi] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](500) NOT NULL,
	[PostaKodu] [nvarchar](max) NULL,
	[IlKodu] [int] NOT NULL,
	[IlceKod] [int] NOT NULL,
	[MusteriId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Adresler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErisimAlanlari]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErisimAlanlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ControllerAdi] [nvarchar](128) NOT NULL,
	[ViewAdi] [nvarchar](128) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_ErisimAlanlari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fotograflar]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fotograflar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FotografYolu] [nvarchar](max) NOT NULL,
	[FotografAciklamasi] [nvarchar](max) NOT NULL,
	[FotografSirasi] [tinyint] NULL,
	[UrunId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Fotograflar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[IlceKodu] [int] IDENTITY(1,1) NOT NULL,
	[IlKodu] [int] NOT NULL,
	[IlceAdi] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Ilceler] PRIMARY KEY CLUSTERED 
(
	[IlceKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iller]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iller](
	[IlKodu] [int] IDENTITY(1,1) NOT NULL,
	[IlAdi] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Iller] PRIMARY KEY CLUSTERED 
(
	[IlKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NOT NULL,
	[Soyadi] [nvarchar](100) NOT NULL,
	[KullaniciResim] [nvarchar](max) NULL,
	[KullaniciEmail] [nvarchar](max) NOT NULL,
	[KullaniciSifre] [nvarchar](max) NOT NULL,
	[PersonelMi] [bit] NOT NULL,
	[YetkiId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menular]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuAdi] [nvarchar](100) NOT NULL,
	[UstMenuId] [int] NULL,
	[MenuSirasi] [int] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ErisimAlanlariId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Menular] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NOT NULL,
	[Soyadi] [nvarchar](100) NOT NULL,
	[Cinsiyet] [nvarchar](10) NOT NULL,
	[Telefonu] [nvarchar](20) NOT NULL,
	[Meslek] [nvarchar](max) NULL,
	[DogumTarihi] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personeller]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAdi] [nvarchar](100) NOT NULL,
	[PersonelSoyadi] [nvarchar](100) NOT NULL,
	[Cinsiyet] [nvarchar](max) NULL,
	[PersonelMaasi] [decimal](18, 2) NOT NULL,
	[MaasOdemeTarihi] [datetime2](7) NOT NULL,
	[MedeniHali] [bit] NOT NULL,
	[CalistigiFirma] [nvarchar](max) NOT NULL,
	[PersonelHakkinda] [nvarchar](200) NOT NULL,
	[YasadigiSehir] [nvarchar](max) NOT NULL,
	[PersonelKullaniciBilgileriId] [int] NOT NULL,
	[KullanicilarId] [int] NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Personeller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetay]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetay](
	[SiparisDetayId] [int] IDENTITY(1,1) NOT NULL,
	[SiparisId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[UrunAdet] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SiparisDetay] PRIMARY KEY CLUSTERED 
(
	[SiparisDetayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToplamUrunAdet] [int] NOT NULL,
	[ToplamFiyat] [decimal](18, 2) NOT NULL,
	[MusteriId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Siparisler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[UrunStok] [int] NOT NULL,
	[UrunFiyat] [decimal](18, 2) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YetkiErisim]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YetkiErisim](
	[ErisimAlaniId] [int] NOT NULL,
	[YetkiId] [int] NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_YetkiErisim] PRIMARY KEY CLUSTERED 
(
	[ErisimAlaniId] ASC,
	[YetkiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetkiler]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetkiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YetkiAdi] [nvarchar](100) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Yetkiler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 10.01.2024 22:27:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Yorum] [nvarchar](250) NOT NULL,
	[YorumUstId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklenmeTarih] [datetime2](7) NOT NULL,
	[GuncellenmeTarih] [datetime2](7) NULL,
	[KullaniciId] [int] NULL,
 CONSTRAINT [PK_Yorumlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT (N'50') FOR [Meslek]
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD  CONSTRAINT [FK_Adresler_Ilceler_IlceKod] FOREIGN KEY([IlceKod])
REFERENCES [dbo].[Ilceler] ([IlceKodu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adresler] CHECK CONSTRAINT [FK_Adresler_Ilceler_IlceKod]
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD  CONSTRAINT [FK_Adresler_Musteriler_MusteriId] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adresler] CHECK CONSTRAINT [FK_Adresler_Musteriler_MusteriId]
GO
ALTER TABLE [dbo].[Fotograflar]  WITH CHECK ADD  CONSTRAINT [FK_Fotograflar_Urunler_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fotograflar] CHECK CONSTRAINT [FK_Fotograflar_Urunler_UrunId]
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD  CONSTRAINT [FK_Ilceler_Iller_IlKodu] FOREIGN KEY([IlKodu])
REFERENCES [dbo].[Iller] ([IlKodu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ilceler] CHECK CONSTRAINT [FK_Ilceler_Iller_IlKodu]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Yetkiler_YetkiId] FOREIGN KEY([YetkiId])
REFERENCES [dbo].[Yetkiler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Yetkiler_YetkiId]
GO
ALTER TABLE [dbo].[Menular]  WITH CHECK ADD  CONSTRAINT [FK_Menular_ErisimAlanlari_ErisimAlanlariId] FOREIGN KEY([ErisimAlanlariId])
REFERENCES [dbo].[ErisimAlanlari] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menular] CHECK CONSTRAINT [FK_Menular_ErisimAlanlari_ErisimAlanlariId]
GO
ALTER TABLE [dbo].[Menular]  WITH CHECK ADD  CONSTRAINT [FK_Menular_Menular_UstMenuId] FOREIGN KEY([UstMenuId])
REFERENCES [dbo].[Menular] ([Id])
GO
ALTER TABLE [dbo].[Menular] CHECK CONSTRAINT [FK_Menular_Menular_UstMenuId]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Kullanicilar_KullaniciId] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Kullanicilar_KullaniciId]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_Kullanicilar_KullanicilarId] FOREIGN KEY([KullanicilarId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_Kullanicilar_KullanicilarId]
GO
ALTER TABLE [dbo].[Personeller]  WITH CHECK ADD  CONSTRAINT [FK_Personeller_Kullanicilar_PersonelKullaniciBilgileriId] FOREIGN KEY([PersonelKullaniciBilgileriId])
REFERENCES [dbo].[Kullanicilar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personeller] CHECK CONSTRAINT [FK_Personeller_Kullanicilar_PersonelKullaniciBilgileriId]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Siparisler_SiparisId] FOREIGN KEY([SiparisId])
REFERENCES [dbo].[Siparisler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Siparisler_SiparisId]
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetay_Urunler_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SiparisDetay] CHECK CONSTRAINT [FK_SiparisDetay_Urunler_UrunId]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Kullanicilar_KullaniciId] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Kullanicilar_KullaniciId]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Musteriler_MusteriId] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteriler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Musteriler_MusteriId]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kategoriler_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kategoriler_KategoriId]
GO
ALTER TABLE [dbo].[YetkiErisim]  WITH CHECK ADD  CONSTRAINT [FK_YetkiErisim_ErisimAlanlari_ErisimAlaniId] FOREIGN KEY([ErisimAlaniId])
REFERENCES [dbo].[ErisimAlanlari] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YetkiErisim] CHECK CONSTRAINT [FK_YetkiErisim_ErisimAlanlari_ErisimAlaniId]
GO
ALTER TABLE [dbo].[YetkiErisim]  WITH CHECK ADD  CONSTRAINT [FK_YetkiErisim_Yetkiler_YetkiId] FOREIGN KEY([YetkiId])
REFERENCES [dbo].[Yetkiler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YetkiErisim] CHECK CONSTRAINT [FK_YetkiErisim_Yetkiler_YetkiId]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Kullanicilar_KullaniciId] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Kullanicilar_KullaniciId]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Urunler_UrunId] FOREIGN KEY([UrunId])
REFERENCES [dbo].[Urunler] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Urunler_UrunId]
GO
