
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page404Index</title>
</head>
<body>
    <div>
        <img src="~/Resimler/404notfound.png" alt="Alternate Text" />
    </div>
</body>
</html>
