
@{
    ViewData["Title"] = "AnasayfaIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- HERO SECTION-->
<section class="hero pb-3 bg-cover bg-center d-flex align-items-center" style="background: url(/distribution/img/gly44.JPG)">
    <div class="container py-5">
        <div class="row px-4 px-lg-5">
            <div class="col-lg-6">
                <p class="text-muted small text-uppercase mb-2">Yeni Modeller 2024</p>
                <h1 class="h2 text-uppercase mb-3">20% indirimli yeni sezon ürünler </h1><a class="btn accent-white" href="~/Views/Urunler/KategoriIndex">Kategorilerimize Göz Atın</a>
            </div>
        </div>
    </div>
</section>
<!-- CATEGORIES SECTION-->
<section class="pt-5">
    <header class="text-center">
        <p class="small text-muted small text-uppercase mb-1">Özenle Hazırlanmış koleksiyonlar</p>
        <h2 class="h5 text-uppercase mb-4">Kategorilerimize Göz Atın</h2>
    </header>
    <div class="row">
        <div class="col-md-4">
            <a class="category-item" href="/Anasayfa/ShopIndex"><img class="img-fluid" src="~/distribution/img/gly.JPG" alt="" /><strong class="category-item-title">Elbiseler</strong></a>
        </div>
        <div class="col-md-4">
            <a class="category-item mb-4" href="/Anasayfa/ShopIndex"><img class="img-fluid" src="~/distribution/img/g1.JPG" alt="" /><strong class="category-item-title">SÜVETERLİ TRİKO TAKIM</strong></a><a class="category-item" href="shop.html"><img class="img-fluid" src="~/distribution/img/ays1.JPG" alt="" /><strong class="category-item-title">Tunikler</strong></a>
        </div>
        <div class="col-md-4">
            <a class="category-item" href="/Anasayfa/ShopIndex"><img class="img-fluid" src="~/distribution/img/gly.12.JPG" alt="" /><strong class="category-item-title">Takımlar</strong></a>
        </div>
    </div>
</section>
<!-- TRENDING PRODUCTS-->
<section class="py-5">
    <header>
        <p class="small text-muted small text-uppercase mb-1">ÜRÜN DETAYLARINI İNCELEYİN</p>
        <h2 class="h5 text-uppercase mb-4">En Trend Ürünler</h2>
    </header>
    <div class="row">
        <!-- PRODUCT-->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product text-center">
                <div class="position-relative mb-3">
                    <div class="badge text-white bg-"></div><a class="d-block" href="/Anasayfa/DetailIndex"><img class="img-fluid w-100" src="~/distribution/img/g1.JPG" alt="..."></a>
                    <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="~/distribution/cart.html">SEPETE EKLE</a></li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h6> <a class="reset-anchor" href="/Anasayfa/DetailIndex">Triko Süveterli Takım</a></h6>
                <p class="small text-muted">650₺</p>
            </div>
        </div>
        <!-- PRODUCT-->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product text-center">
                <div class="position-relative mb-3">
                    <div class="badge text-white bg-primary">İndirim</div><a class="d-block" href="/Anasayfa/DetailIndex"><img class="img-fluid w-100" src="~/distribution/img/gly7.JPG" alt="..."></a>
                    <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="~/distribution/cart.html">SEPETE EKLE</a></li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h6> <a class="reset-anchor" href="/Anasayfa/DetailIndex">Triko Elbise</a></h6>
                <p class="small text-muted">600₺</p>
            </div>
        </div>
        <!-- PRODUCT-->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product text-center">
                <div class="position-relative mb-3">
                    <div class="badge text-white bg-"></div><a class="d-block" href="/Anasayfa/DetailIndex"><img class="img-fluid w-100" src="~/distribution/img/ays00.JPG" alt="..."></a>
                    <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="~/distribution/cart.html">SEPETE EKLE</a></li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h6> <a class="reset-anchor" href="/Anasayfa/DetailIndex">Penye Etekli Takım Yeşil</a></h6>
                <p class="small text-muted">700₺</p>
            </div>
        </div>
        <!-- PRODUCT-->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product text-center">
                <div class="position-relative mb-3">
                    <div class="badge text-white bg-info">YENİ</div><a class="d-block" href="/Anasayfa/DetailIndex"><img class="img-fluid w-100" src="~/distribution/img/ays.2.JPG" alt="..."></a>
                    <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="~/distribution/cart.html">SEPETE EKLE</a></li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h6> <a class="reset-anchor" href="detail.html">Asimetrik Yelekli Triko Penye Takım</a></h6>
                <p class="small text-muted">590₺</p>
            </div>
        </div>
        <!-- PRODUCT-->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product text-center">
                <div class="position-relative mb-3">
                    <div class="badge text-white bg-danger">Tükenmek üzere</div><a class="d-block" href="/Anasayfa/DetailIndex"><img class="img-fluid w-100" src="~/distribution/img/g6.JPG" alt="..."></a>
                    <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="~/distribution/cart.html">SEPETE EKLE</a></li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h6> <a class="reset-anchor" href="/Anasayfa/DetailIndex">Yeşil Jile</a></h6>
                <p class="small text-muted">350₺</p>
            </div>
        </div>
        <!-- PRODUCT-->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product text-center">
                <div class="position-relative mb-3">
                    <div class="badge text-white bg-"></div><a class="d-block" href="/Anasayfa/DetailIndex"><img class="img-fluid w-100" src="~/distribution/img/a1.JPG" alt="..."></a>
                    <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="~/distribution/cart.html">SEPETE EKLE</a></li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h6> <a class="reset-anchor" href="/Anasayfa/DetailIndex">Penye Boydan Çıtçıtlı Siyah Elbise</a></h6>
                <p class="small text-muted">500₺</p>
            </div>
        </div>
        <!-- PRODUCT-->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product text-center">
                <div class="position-relative mb-3">
                    <div class="badge text-white bg-"></div><a class="d-block" href="/Anasayfa/DetailIndex"><img class="img-fluid w-100" src="~/distribution/img/a17.JPG" alt="..."></a>
                    <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="~/distribution/cart.html">SEPETE EKLE</a></li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h6> <a class="reset-anchor" href="detail.html">Desenli Fermuarlı Triko Hırka</a></h6>
                <p class="small text-muted">400₺</p>
            </div>
        </div>
        <!-- PRODUCT-->
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <div class="product text-center">
                <div class="position-relative mb-3">
                    <div class="badge text-white bg-"></div><a class="d-block" href="/Anasayfa/DetailIndex"><img class="img-fluid w-100" src="~/distribution/img/a30.JPG" alt="..."></a>
                    <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#!"><i class="far fa-heart"></i></a></li>
                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="~/distribution/cart.html">SEPETE EKLE</a></li>
                            <li class="list-inline-item me-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h6> <a class="reset-anchor" href="/Anasayfa/DetailIndex">Kapitone Kumaş Siyah Önü Çıtçıtlı Yelekli Etek Takım</a></h6>
                <p class="small text-muted">750₺</p>
            </div>
        </div>
    </div>
</section>
<!-- SERVICES-->
<section class="py-5 bg-light">
    <div class="container">
        <div class="row text-center gy-3">
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <svg class="svg-icon svg-icon-big svg-icon-light">
                            <use xlink:href="#delivery-time-1"> </use>
                        </svg>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">Ücretsiz Kargo</h6>
                            <p class="text-sm mb-0 text-muted"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <svg class="svg-icon svg-icon-big svg-icon-light">
                            <use xlink:href="#helpline-24h-1"> </use>
                        </svg>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">Güvenilir</h6>
                            <p class="text-sm mb-0 text-muted">Kumaş Kalitesi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <svg class="svg-icon svg-icon-big svg-icon-light">
                            <use xlink:href="#label-tag-1"> </use>
                        </svg>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">Festivaller</h6>
                            <p class="text-sm mb-0 text-muted">Festival Teklifleri</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- NEWSLETTER-->
<section class="py-5">
    <div class="container p-0">
        <div class="row gy-3">
            <div class="col-lg-6">
                <h5 class="text-uppercase">Üyelik İşlemleri</h5>
                <p class="text-sm text-muted mb-0">Üye ol</p>
            </div>
            <div class="col-lg-6">
                <form action="#">
                    <div class="input-group">
                        <input class="form-control form-control-lg" type="email" placeholder="Mail Adresi" aria-describedby="button-addon2">
                        <button class="btn btn-dark" id="button-addon2" type="submit">Abone</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>





